*{
    color: #333;
}

html, body {
    height: 100%;
    margin: 0;
}

#player-app {
    min-height: 100%;
}

#player-app {
    background: radial-gradient(circle, #47aed1, #9bc2e4);
}

#top-container{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: top-container;
}

#top-container h1 {
    font-size: 24px;
    color: #333;
}

#player {
    grid-area: player;
}

#player {
    display: flex;
    justify-content: center;
    align-items: center;
}

#player audio{
    grid-area: player;
    width: 70%;
}

#playlist {
    position: relative;
    grid-area: playlist;
}

#currently-playing {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: currently-playing;
    font-size: 20px;
}

.container {
    border: 1px solid #8dc7da;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr;
    grid-template-areas: 
    "top-container"
    "player"
    "currently-playing"
    "playlist"
    ;
}


#playlist button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 15px;

    background-color: #4cafa5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#playlist button:hover {
    background-color: #3e8e6a;
}

#playlist h3{
    margin-left: 20px;
}

#playlist ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20%;

    font-size: 17px;
    margin-bottom: 10px;
    cursor: pointer;
    list-style: none;
    
    border: 1px solid #8dc7da;
    max-height: 90px;
    overflow-y: auto;
}

#playlist li {
    margin: 2px 0;
}

#playlist li:hover {
    color: #4caf82;
}

.remove-icon {
    padding-left: 10px;
    font-size: 17px;
    color: #f00;
    cursor: pointer;
}

@media screen and (min-width: 736px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 2fr 1fr;
        grid-template-areas: 
        "top-container top-container"
        "player player"
        "playlist currently-playing"
        ;
    }
}